In [2]:
import numpy as np
import pandas as pd

In [4]:
# dataframe = {"fruit":['Apple' , 'Banana' , 'Apple' , 'Orange' , 'Banana'] , "Quantity": ['10', '5' ,'15' ,'20' ,'10']}
# data = pd.DataFrame(dataframe)
# data

    fruit Quantity
0   Apple       10
1  Banana        5
2   Apple       15
3  Orange       20
4  Banana       10

In [6]:
import openpyxl

In [15]:
data = openpyxl.load_workbook("D:\dataset\Assignment_data.xlsx")
sheet = data.active
for row in sheet.iter_rows(values_only=True):
    print(row)

('Fruit', 'Quantity')
('Apple', 10)
('Banana', 5)
('Apple', 15)
('Orange', 20)
('Banana', 10)

In [17]:
import openpyxl

# Open the Excel spreadsheet
wb = openpyxl.load_workbook('D:\dataset\Assignment_data.xlsx')

# Select the first sheet
sheet = wb.active

# Calculate the total quantity of each fruit
fruit_totals = {}
for row in sheet.iter_rows(min_row=2, values_only=True):
    fruit = row[0]
    quantity = row[1]
    if fruit in fruit_totals:
        fruit_totals[fruit] += quantity
    else:
        fruit_totals[fruit] = quantity

# Create a new workbook and sheet
new_wb = openpyxl.Workbook()
new_sheet = new_wb.active

# Add the headers to the new sheet
new_sheet.cell(row=1, column=1, value='Fruit')
new_sheet.cell(row=1, column=2, value='Total Quantity')

# Write the fruit totals to the new sheet
row_num = 2
for fruit, total_quantity in fruit_totals.items():
    new_sheet.cell(row=row_num, column=1, value=fruit)
    new_sheet.cell(row=row_num, column=2, value=total_quantity)
    row_num += 1

# Save the new workbook
new_wb.save('fruit_totals.xlsx')