# Importing Dependencies

In [2]:
import numpy as np
import pandas as pd

In [3]:
dataframe = {"fruit":['Apple' , 'Banana' , 'Apple' , 'Orange' , 'Banana'] , "Quantity": ['10', '5' ,'15' ,'20' ,'10']}
df = pd.DataFrame(dataframe)
df

    fruit Quantity
0   Apple       10
1  Banana        5
2   Apple       15
3  Orange       20
4  Banana       10

In [4]:
df.to_excel("input.xlsx")

In [5]:
pd.read_excel('input.xlsx')

   Unnamed: 0   fruit  Quantity
0           0   Apple        10
1           1  Banana         5
2           2   Apple        15
3           3  Orange        20
4           4  Banana        10

In [17]:
df.drop_duplicates(inplace=True)
df

    fruit Quantity
0   Apple       10
1  Banana        5
2   Apple       15
3  Orange       20
4  Banana       10

In [18]:
import openpyxl
data = openpyxl.load_workbook("input.xlsx")
sheet = data.active
for row in sheet.iter_rows(values_only=True):
    print(row)

(None, 'fruit', 'Quantity')
(0, 'Apple', '10')
(1, 'Banana', '5')
(2, 'Apple', '15')
(3, 'Orange', '20')
(4, 'Banana', '10')

In [19]:
import openpyxl

# Open the Excel spreadsheet
workbook = openpyxl.load_workbook('input.xlsx')
sheet = workbook.active

# Create a dictionary to store the count of each fruit
fruit_counts = {}

# Loop through the rows of the spreadsheet, starting from the second row
for row in sheet.iter_rows(min_row=2, values_only=True):
    # Get the fruit name from the current row
    fruit_name = row[0]
    
    # If the fruit name is not already in the dictionary, add it with a count of zero
    if fruit_name not in fruit_counts:
        fruit_counts[fruit_name] = 0
    
    # Increment the count for the fruit
    fruit_counts[fruit_name] += 1

# Create a new Excel spreadsheet
new_workbook = openpyxl.Workbook()
new_sheet = new_workbook.active

# Write the header row to the new spreadsheet
new_sheet['A1'] = 'Fruit'
new_sheet['B1'] = 'Count'

# Loop through the fruit counts and write them to the new spreadsheet
row_num = 2
for fruit_name, count in fruit_counts.items():
    new_sheet.cell(row=row_num, column=1, value=fruit_name)
    new_sheet.cell(row=row_num, column=2, value=count)
    row_num += 1

# Save the new spreadsheet
new_workbook.save('output.xlsx')

In [20]:
pd.read_excel('output.xlsx')

   Fruit  Count
0      0      1
1      1      1
2      2      1
3      3      1
4      4      1